<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Less</title>
    <link rel="stylesheet" href="./layout.css">
</head>
<body>
    <div class="header">
        <p class="title">我是Less，使用我很方便</p>
        <p><a href="http://lesscss.org/#" target="_blank">想用我就点我吧</a></p>
        <p>LESS -> CSS</p>
    </div>
    <div class="footer">
        <p id="alert">到底了</p>
    </div>
</body>
</html>